<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Generate your color with web-app">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/main.css" type="text/css" charset="UTF-8">
    <link href="../images/brush.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../css/main_header.css" type="text/css" charset="UTF-8"> -->
    <title>ColorPalete</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="header-line">
                <div class="header-logo">
                    <a href="../html/main.html" title="Main page">
                        <img class="brush-img" src="../images/brush.ico" alt="ColorPalete">
                            <span>ColorPallete</span>
                    </a>
                </div>
                 <div class="nav">
                     <a class="nav-item" href="../templates/create.html">Создать</a>
                     <a class="nav-item" href="@">Избранные цвета</a>
                     <a class="nav-item" href="@">Палитра</a>
                </div>   
            </div>
        </div>
    </div>
    <div class="mainpage">
        <div class="mainpage-title">
            Добро пожаловать!

            <div class="mainpage-subtitle">
                Давайте начнем путешестиве в мир цветов!
            </div>

            <div class="mainpage-btn">
                <a href="#" class="mainpage-button">Начать!</a>
            </div>
        </div>
        
        <div class="mainpage-img">
            <img class="canvs-img" src="../images/canvas_115235.svg" alt="Art" width="500px" height="500px">
        </div>
        
    </div>
    <div class="cards">
        <div class="text">
            Три основных цвета
            <div class="container">
                <div class="cardholder">
                    <div class="card red">
                        <span onclick="copy(this)" data-copy="#FF0000">#FF0000</span>
                        <div class="like_but">
                                <img class="like-img" src="../images/heart-fill-svgrepo-com.svg" alt="like">
                        </div>
                    </div>
                    <div class="card green">
                        <span onclick="copy(this)" data-copy="#008000">#008000</span>
                        <div class="like_but">
                        
                                <img class="like-img" src="../images/heart-fill-svgrepo-com.svg" alt="like">
                          
                        </div>
                    </div>
                    <div class="card blue">
                        <span onclick="copy(this)" data-copy="#0000FF">#0000FF</span>
                        <div class="like_but">
                       
                                <img class="like-img" src="../images/heart-fill-svgrepo-com.svg" alt="like">
                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="other">
        <div class="text">
            Цветовые палитры, который могут вам понравится
            <div class="container">
                <div class="cardholder">
                    <div class="card type1">
                        <span onclick="copy(this)" data-copy="#074173">#074173</span>
                        <div class="like_but">
                           
                                <img class="like-img" src="../images/heart-fill-svgrepo-com.svg" alt="like">
                          
                        </div>
                    </div>
                    <div class="card type2">
                        <span onclick="copy(this)" data-copy="#FFD1E3">#FFD1E3</span>
                        <div class="like_but">
                          
                                <img class="like-img" src="../images/heart-fill-svgrepo-com.svg" alt="like">
                       
                        </div>
                    </div>
                    <div class="card type3">
                        <span onclick="copy(this)" data-copy="#6C0345">#6C0345</span>
                        <div class="like_but">
                           
                                <img class="like-img" src="../images/heart-fill-svgrepo-com.svg" alt="like">
                            
                        </div>
                    </div>
                    <div class="continue">
                        <div class="cardholder">
                            <div class="card type4">
                                <span onclick="copy(this)" data-copy="#D37676">#D37676</span>
                                <div class="like_but">
                                   
                                        <img class="like-img" src="../images/heart-fill-svgrepo-com.svg" alt="like">
                                
                                </div>
                            </div>
                            <div class="card type5">
                                <span onclick="copy(this)" data-copy="#F6995C">#F6995C</span>
                                <div class="like_but">
                                    
                                        <img class="like-img" src="../images/heart-fill-svgrepo-com.svg" alt="like">
                                 
                                </div>
                            </div>
                            <div class="card type6">
                                <span onclick="copy(this)" data-copy="#7469B6">#7469B6</span>
                                <div class="like_but">
                                   
                                        <img class="like-img" src="../images/heart-fill-svgrepo-com.svg" alt="like">
                                  
                                </div>
                            </div>
                    <div class="continue">
                        <div class="cardholder">
                            <div class="card type7">
                                <span onclick="copy(this)" data-copy="#FF90BC">#FF90BC</span>
                                <div class="like_but">
                                    
                                        <img class="like-img" src="../images/heart-fill-svgrepo-com.svg" alt="like">
                                    
                                </div>
                            </div>
                            <div class="card type8">
                                <span onclick="copy(this)" data-copy="#3A4D39">#3A4D39</span>
                                <div class="like_but">
                                    
                                        <img class="like-img" src="../images/heart-fill-svgrepo-com.svg" alt="like">
                                    
                                </div>
                            </div>
                            <div class="card type9">
                                <span onclick="copy(this)" data-copy="#F1C27B">#F1C27B</span>
                                <div class="like_but">
                                    
                                        <img class="like-img" src="../images/heart-fill-svgrepo-com.svg" alt="like">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="../js/main.js"></script>
<!-- <script src="../js/create.js"></script> -->
</body>
</html>